{% extends "base.html" %}
{% block title %}Personal Finance and Expense Tracker {% endblock %}

{% block content %}

  <div class="welcome">
    <br>
    <br>
    <img src="{{ url_for('static', filename='SpendSense2.png') }}" width="500px" height="200px">

  <p>Welcome to SpendSense, your personal finance and expense tracking application!</p>
  <p>Track your expenses and manage your finances effectively.</p>
  <p>
    <div class="login">
    <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
    <br>
    <a href="{{ url_for('register') }}" class="btn btn-secondary">Create an Account</a>
  </p>
</div>
  </div>
{% endblock %}
