{% extends "base.html" %}
{% block title %}Create Your Account{% endblock %}

{% block content %}
 <div class="register">
  <h2> Create an Account!</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <p>
      Create your username:<br> 
      {{ form.username() }}
    </p>

    {% for error in form.username.errors %}
      <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <p>
      Enter your email:
      <br>
      {{ form.email() }}
    </p>

    {% for error in form.email.errors %}
      <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <p>
      Create a UNIQUE password:<br>
      {{ form.password() }}
    </p>

    <p>
      Verify password:<br>
      {{ form.confirm_password() }}
    </p>

    {% for error in form.confirm_password.errors %}
      <span style="color:red;">{{ error }}</span>
    {% endfor %}

    <button type="submit">Register</button>
  </form>
  </div>
{% endblock %}
