{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="login2">
  <h2>Reset your password</h2>

  <form method="post">
    {{ form.hidden_tag() }}

    <p>
      New password:<br>
      {{ form.password(autocomplete="new-password") }}
    </p>

    <p>
      Confirm new password:<br>
      {{ form.confirm_password(autocomplete="new-password") }}
    </p>

    <button type="submit">Reset password</button>
  </form>

  <div class="link-row">
    <a href="{{ url_for('login') }}">Back to login</a>
  </div>
</div>
{% endblock %}